Host koeb.me 178.62.250.166
HostName 178.62.250.166
User core
IdentityFile /home/koebi/.ssh/nngo
GSSAPIAuthentication no
KbdInteractiveAuthentication no
PasswordAuthentication no

Host *
    User core
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
    PasswordAuthentication no
    IdentityFile /home/koebi/.vagrant.d/insecure_private_key
    IdentitiesOnly yes
    LogLevel FATAL
