logs
project/project
project/target
target/.history
target/docker
target/resolution-cache
target/scala-2.10
target/streams
target/universal/tmp
target/universal/stage/share/
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.cache
.target
/bin/
*.swp
