@font-face {
    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    src: local('Special Elite'), local('SpecialElite-Regular'), url('/assets/stylesheets/SpecialElite.woff') format('woff');
}


body {
    margin: 0 auto;
    padding: 0px;
    font-family: Special Elite, serif;
    font-size: 13px;
    background-color: #ffffff;
    text-align: center;
}

#outer {
    margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
    padding: 5px;
    width: 900px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: -10px 10px 5px #c0c0c0;
    text-align: left;
    border: 1px solid black;
    background-color: #F8F8F8;
    background-repeat:repeat;
}

#conHead {
    text-align: center;
    font-size: 15px;
}
#nav {
    text-align: center;
    font-size: 15px;
}

#nav a {
	padding-left: 15px;
	padding-right: 15px;
}
.postTitle {
    font-weight: bold;
    position: relative;
    text-align: left;
    left: 50px;
}
.postTeaser {
    font-weight: bold;
}
.postDate {
    text-align: right;
    position: relative;
    right: 20px;
    font-size: 10px;
    vertical-align: top;
}
.detailsLink {
	text-align: left;
	position: relative;
	vertical-align: top;
}
.postEditLink {
    text-align: right;
    right: 20px;
    font-size: 10px;
}
.pagination {
        position: relative;
        margin-top:20px;
        bottom: 30px;
}
.prev {
	text-align: left;
	left: 30px;
	position:absolute;
}
.next {
	text-align: right;
	right: 30px;
	position:absolute;
}
.error {
    margin: 0 auto;
    color: red;
    padding: 5px;
    border: 2px solid red;
    width: 200px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #D8D8D8;
}
.error strong {
    text-align: center;
}
.success {
    margin: 0 auto;
    color: green;
    padding: 5px;
    border: 2px solid green;
    width: 200px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #D8D8D8;
}
.success strong {
    text-align: center;
}
h1 {
    text-align: center;
}
