@(postForm: Form[Post])(implicit flash: Flash, lang: Lang)

@import helper._


@main(Some("Add a new post"), None) {
    
    <h1>Add a post</h1>
    
    @form(routes.Blog.savePost()) {
         <div class="actions">
            <input type="submit" value="Save" class="btn primary"> or 
            <a href="@routes.Blog.listPosts()" class="btn">Cancel</a> 
        </div>
        
        <fieldset>
        
            @inputText(postForm("title"), args = 'size -> 88,'_label -> "Title")
            @textarea(postForm("teaser"), args = 'rows -> 10, 'cols -> 100, '_label -> "Teaser Text")
            @textarea(postForm("text"),  args = 'rows -> 10, 'cols -> 100, '_label -> "Post Body")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save" class="btn primary"> or 
            <a href="@routes.Blog.listPosts()" class="btn">Cancel</a> 
        </div>
        
    }
    
}

