@(id: Long, postForm: Form[Post])

@import helper._


@main("Modify an existing post", None) {
    
    <h1>Modify a post</h1>
    @form(routes.Blog.deletePost(id), 'class -> "topRight") {
        <input type="submit" value="Delete this blog post" class="btn danger">
    }
    <br />    
    @form(routes.Blog.updatePost(id)) {
        <div class="actions">
            <input type="submit" value="Update" class="btn primary"> or 
            <a href="@routes.Blog.listPosts()" class="btn">Cancel</a> 
        </div>
        <br />    
        <fieldset>
        
            @inputText(postForm("title"), args = 'size -> 88,'_label -> "Title")
            @textarea(postForm("teaser"), args = 'rows -> 10, 'cols -> 100, '_label -> "Teaser Text")
            @textarea(postForm("text"),  args = 'rows -> 10, 'cols -> 100, '_label -> "Post Body")

        </fieldset>
        <br />
        <div class="actions">
            <input type="submit" value="Update" class="btn primary"> or 
            <a href="@routes.Blog.listPosts()" class="btn">Cancel</a> 
        </div>
        
    }

    <br />    
    @form(routes.Blog.deletePost(id), 'class -> "topRight") {
        <input type="submit" value="Delete this blog post" class="btn danger">
    }    
}

