@(currentPage: Page[Post], authUser: Option[String])(implicit flash: Flash)
@import helper._
@main("koeb.me: things I want to tell the world", authUser){
    <p>&nbsp;</p>
    @flash.get("success").map { message =>
        <div class="success">
            <strong>Done!</strong><br/>@message
        </div>                           
    }
    @flash.get("error").map { message =>
        <div class="error">
            <strong>Error!</strong><br/>@message
        </div>
    }
    	
    @Option(currentPage.items).filterNot(_.isEmpty).map { postList =>
        @postList.map { post =>
            <h2 class="postTitle"><a href="@routes.Blog.showPost(post.id.get)">@Html(post.title)</a></h2>
            <div class="postDate">Posted on @post.created.map(_.format("yyyy-MM-dd"))</div>
            @post.teaser.map { teaser =>
            	<div class="postTeaser">@Html(teaser)</div>
            }.getOrElse {
            	<p class="postText">@Html(post.text.take(100))</p>
            }
            <br />
            <div class="detailsLink"><a href="@routes.Blog.showPost(post.id.get)">read Post</a></div>
            
            @if(authUser.isDefined) {
            <a href="@routes.Blog.editPost(post.id.get)" class="postEditLink">Modify</a><br/>
            <a href="@routes.Blog.deletePost(post.id.get)" class="postEditLink">Delete</a>
            }
            <hr width="200">
            <br />
        }

        <div id="pagination" class="pagination">
                @currentPage.prev.map { page =>
                    <div class="prev">
                    <a href="@routes.Blog.listPosts(page)">&larr; Newer</a>
                    </div> 
                }.getOrElse {
                    &nbsp;
                }
    
                
                @currentPage.next.map { page =>
                    <div class="next">
                    <a href="@routes.Blog.listPosts(page)">Older &rarr;</a>
                    </div> 
                }.getOrElse {
                    &nbsp;
                }
        </div>    

    }.getOrElse {
        <div class="NoPost">
            <em>No posts yet, stay tuned!</em>
        </div>
    }
}
