@(currentPost: Option[Post], nextPost: Option[Post], prevPost: Option[Post], authUser: Option[String])(implicit flash: Flash)
@import helper._
@main("koeb.me: things I want to tell the world", authUser){
    <p>&nbsp;</p>
    @flash.get("success").map { message =>
        <div class="success">
            <strong>Done!</strong><br/>@message
        </div>                           
    }
    @flash.get("error").map { message =>
        <div class="error">
            <strong>Error!</strong><br/>@message
        </div>
    }
    	
    
    @currentPost.map { post => 
        <h2 class="postTitle">@Html(post.title)</h2>
        <div class="postDate">Posted on @post.created.map(_.format("yyyy-MM-dd"))</div>
        <div class="postTeaser">@Html(post.teaser.getOrElse{""})</div>
        <p class="postText">@Html(post.text)</p>
            
        @if(authUser.isDefined) {
        <a href="@routes.Blog.editPost(post.id.get)" class="postEditLink">Modify</a><br/>
        <a href="@routes.Blog.deletePost(post.id.get) class="postEditLink">Delete</a>
        }
        <hr width="200">
        <br />
    }.getOrElse {
    	&nbsp;
    }

    <div id="pagination" class="pagination">
        @prevPost.map { post =>
        	<div class="prev">
        	<a href="@routes.Blog.showPost(post.id.get)">&larr; @post.title</a>
            </div> 
        }.getOrElse { &nbsp; }
        @nextPost.map { post =>
       	    <div class="next">
            <a href="@routes.Blog.showPost(post.id.get)">@post.title &rarr;</a>
            </div> 
        }.getOrElse { &nbsp; }
    </div>
}
