@(currentPost: Post, nextPost: Option[Post], prevPost: Option[Post], authUser: Option[String])(implicit flash: Flash, lang: Lang)
@import helper._
@main(None, authUser){
    <p>&nbsp;</p>
    @flash.get("success").map { message =>
        <div class="success">
            <strong>Done!</strong><br/>@message
        </div>                           
    }
    @flash.get("error").map { message =>
        <div class="error">
            <strong>Error!</strong><br/>@message
        </div>
    }
    @if(lang.code == "de") {
    	<div class="warning">This blog is at the moment only available in english!</div>
    } 
    <h2 class="postTitle">@Html(currentPost.title)</h2>
    <div class="postDate">Posted on @currentPost.created.map(_.format("yyyy-MM-dd"))</div>
    <div class="postTeaser">@Html(currentPost.teaser.getOrElse{""})</div>
    <p class="postText">@Html(currentPost.text)</p>
            
    @if(authUser.isDefined) {
      <a href="@routes.Blog.editPost(currentPost.id.get)" class="postEditLink">Modify</a><br/>
      @helper.form(action = routes.Blog.deletePost(currentPost.id.get)) {
  		<button type="submit" name="delete" id="edit" class="postEditLink">Delete</button>
	  }
    }
    <hr width="200">
    <br />
    

    <div id="pagination" class="pagination">
        @prevPost.map { post =>
        	<div class="prev">
        	<a href="@routes.Blog.showPost(post.id.get)">&larr; @post.title</a>
            </div> 
        }.getOrElse { &nbsp; }
        @nextPost.map { post =>
       	    <div class="next">
            <a href="@routes.Blog.showPost(post.id.get)">@post.title &rarr;</a>
            </div> 
        }.getOrElse { &nbsp; }
    </div>
}
