@(id: Long, postForm: Form[Post])

@import helper._


@main("Update Form") {
    
    <h1>Modify a post</h1>
    
    @form(routes.Application.updatePost(id)) {
        
        <fieldset>
        
            @inputText(postForm("title"), '_label -> "Title")
            @textarea(postForm("teaser"), args = 'rows -> 10, 'cols -> 80, '_label -> "Teaser Text")
            @textarea(postForm("text"),  args = 'rows -> 60, 'cols -> 80, '_label -> "Post Body")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Update" class="btn primary"> or 
            <a href="@routes.Application.listPosts()" class="btn">Cancel</a> 
        </div>
        
    }

    @form(routes.Application.deletePost(id), 'class -> "topRight") {
        <input type="submit" value="Delete this blog post" class="btn danger">
    }    
}

