@(currentPage: Page[Post])(implicit flash: Flash)
@import helper._
@main("koeb.me: things I want to tell the world"){
    <p>&nbsp;</p>
    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }
    @Option(currentPage.items).filterNot(_.isEmpty).map { postList =>
        @postList.map { post =>
            <h2 class="postTitle">@post.title</h2>
            <div class="postDate">Posted on @post.created.map(_.format("yyyy-MM-dd")).getOrElse { <em>-</em> }</div>
            <div class="postTeaser">@post.teaser</div>
            <p class="postText">@post.text</p>
            <a href="@routes.Application.editPost(post.id.get)" class="postEditLink">Modify</a>
        }

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                    <a href="@routes.Application.listPosts(page)">&larr; Newer</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                    <a>&larr; Newer</a>
                    </li>
                }
    
                
                @currentPage.next.map { page =>
                    <li class="next">
                    <a href="@routes.Application.listPosts(page)">Older &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                    <a>Older &rarr;</a>
                    </li>
                }
            </ul>
        </div>    

    }.getOrElse {
        <div class="NoPost">
            <em>No posts yet, stay tuned!</em>
        </div>
    }
}
