@(posts: List[Post])(implicit flash: Flash)
@import helper._
@main("koeb.me: things I want to tell the world"){
    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }
    <h1>@posts.size Posts</h1>
    @posts.map { post =>
        <h2>@post.title</h2>
        <a href="@routes.Application.editPost(post.id.get)">Modify</a>
        <strong>@post.teaser</strong>
        <small>@post.created</small>
        <p>@post.text</p>
    }
}


